@use '../../scss/index' as *;

.product-category-list {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: $spacing-4;
    }

    .product-card {
        display: flex;
        flex-direction: column;

        .card-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        .btn {
            margin-top: auto;
        }

        &__image {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }

    .ant-pagination {
        .ant-pagination-item {
            &:hover {
                border-color: color(primary);
                a {
                    color: color(primary);
                }
            }
        }

        .ant-pagination-item-active {
            background-color: color(primary);
            border-color: color(primary);
            a {
                color: color(primary-contrast);
            }

            &:hover {
                border-color: color(primary-hover-bg);
                a {
                    color: color(primary-contrast);
                }
            }
        }

        .ant-pagination-prev,
        .ant-pagination-next {
            .ant-pagination-item-link {
                color: color(text-secondary);
            }

            &:hover {
                .ant-pagination-item-link {
                    color: color(primary);
                }
            }
        }

        .ant-pagination-total-text {
            color: color(text-secondary);
        }
    }
}
