/* ===================================================== 
  footer
 ================================================================ */

// Define variables for colors and common values
$primary-text-color: #1e1e1e;
$secondary-text-color: #ffffff;
$accent-color: #6daf5f;

:where(.css-dev-only-do-not-override-1vjf2v5).ant-layout-footer {
    padding: 0%;
}

// --- Footer Part 1 ---
.footer-part-1 {
    background-color: $secondary-text-color;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
    height: 400px;

    .footer-img {
        width: 80px;
        height: 80px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-transform: capitalize;
        color: rgb(30, 30, 30);

        span {
            font-weight: 400;
            font-size: 21px;
            line-height: 30px;
            text-transform: lowercase;
            color: rgb(109, 175, 95);
        }
    }
}

// --- Footer Links ---
.footer-links {
    margin-left: 50px;
    h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-transform: capitalize;
        color: $primary-text-color;

        span {
            font-weight: 400;
            font-size: 21px;
            line-height: 30px;
            text-transform: lowercase;
            color: $accent-color;
        }
    }

    .menu-links {
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: $primary-text-color;
    }

    .footer-heading-font {
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: $primary-text-color;
    }
}

// --- Footer Menu ---
.footer-menu {
    flex-grow: 1;

    // &-left {
    //     flex-grow: 1;
    // }

    &-right {
        margin-right: 50px;
    }
}

// --- Social Icons ---
.footer-social-img {
    &-1 {
        width: 24px;
        height: 23px;
    }

    &-2 {
        width: 27px;
        height: 22px;
    }

    &-3 {
        width: 27px;
        height: 27px;
    }
}

// --- Footer Part 2 ---
.footer-part-2 {
    height: 38px;
    max-height: 100%;
    background-color: $primary-text-color;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: $secondary-text-color;
}

// --- Mobile/Responsive Container ---
.md-container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 25px;

    .md-fig-1 {
        width: 40px;
        height: 40px;
    }

    .md-fig-p {
        font-weight: 500;
        font-size: 10px;
        line-height: 36px;
        text-transform: capitalize;
        color: #000000;
    }
}
