@use '@/scss/index' as *;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: color(surface);

    .content {
        flex: 1;
        margin-top: $header-height-xs;

        @include respond-to('sm') {
            margin-top: $header-height-sm;
        }

        @include respond-to('md') {
            margin-top: $header-height-md;
        }

        @include respond-to('lg') {
            margin-top: $header-height-lg;
        }

        @include respond-to('xl') {
            margin-top: $header-height-xl;
        }
    }
}
