@use '@/scss/index' as *;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: color(surface);

    .content {
        // margin-top: 75px;
        flex: 1;
    }
}
