/* Brand Colors */
/* Neutrals & Backgrounds */
/* Text & UI */
/*--- Webkit ---*/
/*--- Media Query ---*/
.d-table {
  display: table;
}

.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
}

.d-table-column {
  display: table-column;
}

/*--- Flex ---*/
.d-flex, .d-flex-column-between, .d-flex-end-between, .d-flex-start-around, .d-flex-center-around, .d-flex-start-start, .d-flex-start-between, .d-flex-center-between, .d-flex-start-center, .d-flex-center-end, .d-flex-end-start, .d-flex-center-start, .d-flex-center-center, .ant-form-item .ant-input-clear-icon {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-items-start, .d-flex-start-around, .d-flex-start-start, .d-flex-start-between, .d-flex-start-center {
  align-items: flex-start;
}

.align-items-center, .d-flex-center-around, .d-flex-center-between, .d-flex-center-end, .d-flex-center-start, .d-flex-center-center, .ant-form-item .ant-input-clear-icon {
  align-items: center;
}

.align-items-end, .d-flex-end-between, .d-flex-end-start {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

.justify-content-start, .d-flex-start-start, .d-flex-end-start, .d-flex-center-start {
  justify-content: flex-start;
}

.justify-content-center, .d-flex-start-center, .d-flex-center-center, .ant-form-item .ant-input-clear-icon {
  justify-content: center;
}

.justify-content-end, .d-flex-center-end {
  justify-content: flex-end;
}

.justify-content-between, .d-flex-column-between, .d-flex-end-between, .d-flex-start-between, .d-flex-center-between {
  justify-content: space-between;
}

.justify-content-around, .d-flex-start-around, .d-flex-center-around {
  justify-content: space-around;
}

.flex-column, .d-flex-column-between {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-column, .d-flex-column-between,
.flex-row {
}

.flex-1 {
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .sm-flex-row-reverse {
    flex-direction: row-reverse;
  }
}
.ant-form-item {
  max-width: 328px;
  width: 100%;
}
.ant-form-item .ant-input-affix-wrapper {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}
.ant-form-item .ant-input-affix-wrapper .ant-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6863c3;
}
.ant-form-item .ant-input-prefix {
  margin-right: 14px;
}/*# sourceMappingURL=FormField.css.map */