@forward './flex/index';

@mixin flex($justify: null, $align: null, $direction: null) {
    display: flex;
    @if $justify {
        justify-content: $justify;
    }
    @if $align {
        align-items: $align;
    }
    @if $direction {
        flex-direction: $direction;
    }
}

@mixin inline-flex($justify: null, $align: null, $direction: null) {
    display: inline-flex;
    @if $justify {
        justify-content: $justify;
    }
    @if $align {
        align-items: $align;
    }
    @if $direction {
        flex-direction: $direction;
    }
}

@mixin flex-direction($direction) {
    flex-direction: $direction;
}

@mixin justify-content($justify) {
    justify-content: $justify;
}

@mixin align-items($align) {
    align-items: $align;
}
