// =============================================================================
// LAYOUT SYSTEM - CONTAINERS, GRID, SPACING
// =============================================================================

@use 'sass:math';
@use './variable' as *;
@use './mixin' as *;

// Container system
.container {
    padding-left: $spacing-4;
    padding-right: $spacing-4;
    @include container();

    @include respond-to('sm') {
        padding-left: $spacing-6;
        padding-right: $spacing-6;
    }

    @include respond-to('lg') {
        padding-left: $spacing-8;
        padding-right: $spacing-8;
    }
}

.container-fluid {
    @include container(100%);
    padding-left: $spacing-4;
    padding-right: $spacing-4;

    @include respond-to('sm') {
        padding-left: $spacing-6;
        padding-right: $spacing-6;
    }

    @include respond-to('lg') {
        padding-left: $spacing-8;
        padding-right: $spacing-8;
    }
}

// Use flex utilities (flex/*) and grid utilities (grid/*) for layout.

// =============================================================================
// RESPONSIVE SPACING SYSTEM
// =============================================================================

// Generate responsive spacing utilities
@each $size, $value in $spacing {
    .m-#{$size} {
        margin: $value !important;
    }
    .mt-#{$size} {
        margin-top: $value !important;
    }
    .mr-#{$size} {
        margin-right: $value !important;
    }
    .mb-#{$size} {
        margin-bottom: $value !important;
    }
    .ml-#{$size} {
        margin-left: $value !important;
    }
    .mx-#{$size} {
        margin-left: $value !important;
        margin-right: $value !important;
    }
    .my-#{$size} {
        margin-top: $value !important;
        margin-bottom: $value !important;
    }

    .p-#{$size} {
        padding: $value !important;
    }
    .pt-#{$size} {
        padding-top: $value !important;
    }
    .pr-#{$size} {
        padding-right: $value !important;
    }
    .pb-#{$size} {
        padding-bottom: $value !important;
    }
    .pl-#{$size} {
        padding-left: $value !important;
    }
    .px-#{$size} {
        padding-left: $value !important;
        padding-right: $value !important;
    }
    .py-#{$size} {
        padding-top: $value !important;
        padding-bottom: $value !important;
    }

    @each $respond-to, $bp-value in $respond-tos {
        @if $bp-value > 0 {
            @include respond-to($respond-to) {
                .#{$respond-to}\:m-#{$size} {
                    margin: $value !important;
                }
                .#{$respond-to}\:mt-#{$size} {
                    margin-top: $value !important;
                }
                .#{$respond-to}\:mr-#{$size} {
                    margin-right: $value !important;
                }
                .#{$respond-to}\:mb-#{$size} {
                    margin-bottom: $value !important;
                }
                .#{$respond-to}\:ml-#{$size} {
                    margin-left: $value !important;
                }
                .#{$respond-to}\:mx-#{$size} {
                    margin-left: $value !important;
                    margin-right: $value !important;
                }
                .#{$respond-to}\:my-#{$size} {
                    margin-top: $value !important;
                    margin-bottom: $value !important;
                }

                .#{$respond-to}\:p-#{$size} {
                    padding: $value !important;
                }
                .#{$respond-to}\:pt-#{$size} {
                    padding-top: $value !important;
                }
                .#{$respond-to}\:pr-#{$size} {
                    padding-right: $value !important;
                }
                .#{$respond-to}\:pb-#{$size} {
                    padding-bottom: $value !important;
                }
                .#{$respond-to}\:pl-#{$size} {
                    padding-left: $value !important;
                }
                .#{$respond-to}\:px-#{$size} {
                    padding-left: $value !important;
                    padding-right: $value !important;
                }
                .#{$respond-to}\:py-#{$size} {
                    padding-top: $value !important;
                    padding-bottom: $value !important;
                }
            }
        }
    }
}
