$theme-color: #1677ff;
$theme-light: #c5c2c2;
$theme-black: #000000;
$text-color: #3958d6;
$text-color2: #6863c3;
$btnsecondary-bg: #e7e7e7;
$white: #ffffff;
$black: #000000;
$placeholder-color: #9b9b9b;
$primary: #c7c9c0;
$white-shadow: #ffffffb3;
$grey: #757575;

/* Brand Colors */
$theme-color: #1677ff;
$text-color: #3958d6;

/* Neutrals & Backgrounds */
$btnsecondary-bg: #e7e7e7;
$white: #ffffff;
$white-shadow: #ffffffb3;

/* Text & UI */
$black: #000000;
$grey: #757575;
$placeholder-color: #9b9b9b;
// Gray
$color1: #f0f5fe;
$color2: #e1e1e1;
$color3: #a8a8a8;
$color4: #f3f7ff;
$color5: #6f6f6f;
$color6: #efefef;
$color7: #666666;

// other color
$success: #089b55;
$danger: #ff4d4f;
$warning: #e5b64b;
$info: #448fb8;

// media quary
$xl: 1199px;
$lg: 1024px;
$md: 991px;
$sm: 767px;
$xs: 575px;

// font
$font-fira: 'Fira Sans', sans-serif;
