/* Brand Colors */
/* Neutrals & Backgrounds */
/* Text & UI */
/*--- Webkit ---*/
/*--- Media Query ---*/
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -o-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  background-color: #b3b3b3;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

a, a:hover, a:focus {
  text-decoration: none;
}
button, button:hover, button:focus {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  margin: 0;
  line-height: normal;
  letter-spacing: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #1677ff;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white strong,
.text-white b,
.text-white p,
.text-white ul,
.text-white ol,
.text-white li {
  color: #ffffff;
}

.text-gray h1,
.text-gray h2,
.text-gray h3,
.text-gray h4,
.text-gray h5,
.text-gray h6,
.text-gray strong,
.text-gray b,
.text-gray p,
.text-gray ul,
.text-gray ol,
.text-gray li,
.text-gray .timer {
  color: #000000;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  fill: currentColor;
  max-width: 100%;
  vertical-align: middle;
}

div,
aside,
figure,
figcaption,
label {
  margin: 0;
}

input,
textarea,
select,
header {
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-input-placeholder {
  color: #9b9b9b;
  opacity: 1;
}

:-moz-placeholder {
  color: #9b9b9b;
  opacity: 1;
}

::-moz-placeholder {
  color: #9b9b9b;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9b9b9b;
  opacity: 1;
}

/*--- Row ---*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.no-gutters > [class^=col-],
.no-gutters > [class^=column-] {
  padding-right: 0;
  padding-left: 0;
}

[class^=col-] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

[class^=column] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row.space-18 {
  margin-left: -9px;
  margin-right: -9px;
}

.row.space-18 [class^=col-],
.row.space-18 [class^=column-] {
  padding-right: 9px;
  padding-left: 9px;
}

.row.padding-b30 [class^=col-],
.row.padding-b30 [class^=column] {
  padding-bottom: 30px;
}

.column-one {
  flex: 0 0 306px;
  max-width: 306px;
}

.column-two {
  flex: 0 0 204px;
  max-width: 204px;
}

.column-three {
  flex: 0 0 408px;
  max-width: 408px;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .column-three {
    flex: 0 0 308px;
  }
  .column-two {
    flex: 0 0 180px;
    max-width: 180px;
  }
  .row.padding-b30 [class^=col-],
  .row.padding-b30 [class^=column] {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .col-300px {
    flex: 0 0 320px;
    max-width: 320px;
  }
}
.d-table {
  display: table;
}

.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
}

.d-table-column {
  display: table-column;
}

/*--- Flex ---*/
.d-flex, .d-flex-column-between, .d-flex-end-between, .d-flex-start-around, .d-flex-center-around, .d-flex-start-start, .d-flex-start-between, .d-flex-center-between, .d-flex-start-center, .d-flex-center-end, .d-flex-end-start, .d-flex-center-start, .d-flex-center-center, .switch-btn-grp .ant-btn {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-items-start, .d-flex-start-around, .d-flex-start-start, .d-flex-start-between, .d-flex-start-center {
  align-items: flex-start;
}

.align-items-center, .d-flex-center-around, .d-flex-center-between, .d-flex-center-end, .d-flex-center-start, .d-flex-center-center, .switch-btn-grp .ant-btn {
  align-items: center;
}

.align-items-end, .d-flex-end-between, .d-flex-end-start {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

.justify-content-start, .d-flex-start-start, .d-flex-end-start, .d-flex-center-start {
  justify-content: flex-start;
}

.justify-content-center, .d-flex-start-center, .d-flex-center-center, .switch-btn-grp .ant-btn {
  justify-content: center;
}

.justify-content-end, .d-flex-center-end {
  justify-content: flex-end;
}

.justify-content-between, .d-flex-column-between, .d-flex-end-between, .d-flex-start-between, .d-flex-center-between {
  justify-content: space-between;
}

.justify-content-around, .d-flex-start-around, .d-flex-center-around {
  justify-content: space-around;
}

.flex-column, .d-flex-column-between {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-column, .d-flex-column-between,
.flex-row {
}

.flex-1 {
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .sm-flex-row-reverse {
    flex-direction: row-reverse;
  }
}
h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}
h2 .big {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 16px;
}
p.small {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-success {
  color: #089b55;
}

.text-danger {
  color: #ff4d4f;
}

.text-warning {
  color: #e5b64b;
}

.text-info {
  color: #448fb8;
}

.position-relative {
  position: relative;
}

.cPointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.min-width-100 {
  min-width: 100px;
}

.min-width-90 {
  min-width: 90px;
}

.min-width-80 {
  min-width: 80px;
}

.min-width-120 {
  min-width: 120px;
}

.min-width-180 {
  min-width: 180px;
}

.min-width-210 {
  min-width: 210px;
}

.min-width-240 {
  min-width: 240px;
}

.min-width-260 {
  min-width: 260px;
}

.min-width-62 {
  min-width: 62px;
}

.max-width--570 {
  max-width: calc(100% - 570px);
}

.h-100, .max-h-100 {
  height: 100%;
}

.max-h-100 {
  max-height: 100%;
}

.min-h100 {
  min-height: 100vh;
}

.min-height-40 {
  min-height: 40px;
}

.mar-bottom-0 {
  margin-bottom: 0px;
}

.mar-left-auto {
  margin-left: auto;
}

.mar-left-8 {
  margin-left: 8px;
}

.mar-left-10 {
  margin-left: 10px;
}

.mar-left-4 {
  margin-left: 4px;
}

.mar-right-8 {
  margin-right: 8px;
}

.mar-right-16 {
  margin-right: 16px;
}

.mar-bottom-8 {
  margin-bottom: 8px;
}

.mar-bottom-10 {
  margin-bottom: 10px;
}

.mar-bottom-12 {
  margin-bottom: 12px;
}

.mar-bottom-13 {
  margin-bottom: 13px;
}

.mar-bottom-18 {
  margin-bottom: 18px;
}

.mar-bottom-20 {
  margin-bottom: 20px;
}

.mar-bottom-30 {
  margin-bottom: 30px;
}

.mar-bottom-36 {
  margin-bottom: 36px;
}

.mar-bottom-48 {
  margin-bottom: 48px;
}

.mar-top-8 {
  margin-top: 8px;
}

.mar-top-20 {
  margin-top: 20px;
}

.mar-top-24 {
  margin-top: 24px;
}

.mar-top-48 {
  margin-top: 48px;
}

.mar-top--20 {
  margin-top: -20px;
}

.mar-top-60 {
  margin-top: 60px;
}

.no-pad {
  padding: 0;
}

.pad-left {
  padding-left: 90px;
}

.pad-left-15 {
  padding-left: 15px;
}

.pad-right-15 {
  padding-right: 15px;
}

.pad-6-24 {
  padding: 6px 24px;
}

.pad-6-24-img {
  padding: 6px 24px !important;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-25 {
  padding-top: 25px;
}

.pad-top-30 {
  padding-top: 30px;
}

.pad-bottom-25 {
  padding-bottom: 25px;
}

.pad-bottom-20 {
  padding-bottom: 20px;
}

.pad-bottom-15 {
  padding-bottom: 15px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.h-100, .max-h-100 {
  height: 100%;
}

.float-right {
  float: right;
}

.flex-100 {
  flex: 0 0 100%;
}

.flex-50 {
  flex: 0 0 50%;
}

.non-visible {
  visibility: hidden;
  opacity: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container.lg {
  width: 1230px;
}
.container.md {
  width: 908px;
}

.pad-container-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.ant-input-number-handler-wrap {
  display: none;
}

.ant-btn {
  height: unset;
  padding: 9px 15px;
  border-radius: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.ant-btn.ant-btn-sm {
  padding: 6px 10px;
}
.ant-btn.ant-btn-primary {
  background: #1677ff;
  border-color: #1677ff;
  color: #ffffff;
}
.ant-btn.ant-btn-primary:hover, .ant-btn.ant-btn-primary:focus {
  background: rgba(22, 119, 255, 0.9);
  border-color: #1677ff;
  color: #ffffff;
}
.ant-btn.ant-btn-primary:hover svg * {
  fill: #fff;
}
.ant-btn svg {
  vertical-align: inherit;
}
.ant-btn.btn-secondary {
  background: #e7e7e7;
  border-color: #e7e7e7;
  color: #000000;
}
.ant-btn.btn-secondary:hover, .ant-btn.btn-secondary:focus {
  background: #e7e7e7;
  border-color: #e7e7e7;
  color: #000000;
}
.ant-btn.ant-btn-default {
  background: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
}
.ant-btn.ant-btn-default:hover, .ant-btn.ant-btn-default:focus {
  border-color: #000000;
  color: #000000;
}

.switch-btn-grp {
  background: #1677ff;
  border-radius: 10px;
}
.switch-btn-grp .ant-btn {
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  background: transparent;
}
.switch-btn-grp .ant-btn.active {
  background: #1677ff;
}

.pageLabel {
  color: #ffffff;
  font-weight: 600;
}

.ant-col {
  width: 100%;
}

.shadow-paper {
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  margin-top: 5px;
  -o-box-shadow: 0px 0px 12px rgba(67, 67, 67, 0.4);
  -ms-box-shadow: 0px 0px 12px rgba(67, 67, 67, 0.4);
  box-shadow: 0px 0px 12px rgba(67, 67, 67, 0.4);
}
.shadow-paper.auto-height {
  height: auto;
}
.shadow-paper .shadow-paper-scroll {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  margin: 0 -20px;
  padding: 0 20px;
}
.shadow-paper + .shadow-paper {
  margin-top: 20px;
}
.shadow-paper.no-padd {
  padding: 0;
}
.shadow-paper .heading-row {
  padding: 20px 0;
}

.box-shadow {
  -o-box-shadow: 0px 4px 12px rgba(18, 42, 70, 0.31);
  -ms-box-shadow: 0px 4px 12px rgba(18, 42, 70, 0.31);
  box-shadow: 0px 4px 12px rgba(18, 42, 70, 0.31);
}

.custon-scroll {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

/* --------------------- Custom Css -------------------------- */
.ant-form-item-label label {
  color: #000000 !important;
}

.form-group {
  margin: 0 0 20px;
}

.ant-dropdown-menu {
  min-width: 100px;
  background-color: #1677ff;
  padding: 0;
}
.ant-dropdown-menu li {
  padding: 7px 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.ant-dropdown-menu li:last-child {
  border: none;
}
.ant-dropdown-menu li:hover {
  color: #ffffff;
  background-color: #1677ff;
}

.form-group {
  margin: 0 0 20px;
}
.form-group.ant-form-item {
  display: flex;
  width: 100%;
  padding-left: 5px;
}
.form-group.ant-form-item .ant-row {
  width: 100%;
}
.form-group button {
  margin-right: 20px;
}
.form-group button:last-child {
  margin-right: 0;
}

.table-border .ant-table {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}
.table-border .ant-table-thead tr th {
  border-bottom: 1px solid #e0e0e0;
}
.table-border .ant-table-pagination.ant-pagination {
  background-color: #ffffff;
  margin: 0;
  padding: 10px;
}

.ant-table {
  flex-direction: column;
  width: 100% !important;
  background-color: transparent;
}
.ant-table table {
  width: 100%;
}
.ant-table table .ant-table-thead tr {
  width: 100%;
}
.ant-table table .ant-table-thead tr th {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  background: none;
  border-bottom: none;
}
.ant-table table .ant-table-thead tr th:before {
  display: none;
}
.ant-table table .ant-table-thead tr th .ant-table-column-sorter {
  margin-left: 10px;
}
.ant-table table .ant-table-thead tr th:first-child {
  border-radius: 10px 0 0 10px !important;
}
.ant-table table .ant-table-thead tr th:last-child {
  border-radius: 0 10px 10px 0 !important;
}
.ant-table table .ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table table .ant-table-tbody > tr > td.ant-table-cell-row-hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ant-table table .ant-table-tbody > tr:nth-child(even).ant-table-row:hover > td,
.ant-table table .ant-table-tbody > tr:nth-child(even) > td.ant-table-cell-row-hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ant-table table .ant-table-tbody tr .ant-table-cell {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  line-height: 18px;
  border: none;
  border-radius: 0;
}
.ant-table table .ant-table-tbody tr .ant-table-cell .option {
  text-align: center;
}
.ant-table table .ant-table-tbody tr .ant-table-cell .pending {
  color: #000000;
}
.ant-table table .ant-table-tbody tr .ant-table-cell .viewed {
  color: #1677ff;
}
.ant-table table .ant-table-tbody tr .ant-table-cell:first-child {
  border-radius: 10px 0 0 10px;
}
.ant-table table .ant-table-tbody tr .ant-table-cell:last-child {
  border-radius: 0 10px 10px 0;
}
.ant-table table .ant-table-tbody tr:nth-child(odd) .ant-table-cell {
  background-color: rgb(67, 67, 67);
}
.ant-table table .ant-table-tbody tr.ant-table-row-selected:hover td,
.ant-table table .ant-table-tbody tr.ant-table-row-selected td {
  border-bottom: none;
  background: rgba(67, 67, 67, 0.05);
}
.ant-table table .ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table table .ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: rgba(67, 67, 67, 0.01);
}
.ant-table table table tr th.ant-table-selection-column,
.ant-table table table tr td.ant-table-selection-column {
  padding-right: 20px;
  padding-left: 20px;
}

.check-pad-15 .ant-table tr .ant-table-cell:first-child {
  padding-left: 15px !important;
}

.check-pad-30 .ant-table tr .ant-table-cell:first-child {
  padding-left: 30px !important;
}

/* --- Pagination --- */
.ant-pagination li {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.ant-pagination .ant-pagination-prev button,
.ant-pagination .ant-pagination-next button {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.ant-pagination .ant-pagination-prev button span,
.ant-pagination .ant-pagination-next button span {
  display: none;
}
.ant-pagination .ant-pagination-item-active {
  border: 1px solid #434343;
}
.ant-pagination .ant-pagination-item-active a {
  color: #434343;
}

@media only screen and (max-width: 1199px) {
  .pad-md-top-25 {
    padding-top: 25px;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h2.big {
    font-size: 28px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  p.small {
    font-size: 13px;
  }
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .custon-scroll.remove-scroll-sm {
    height: auto;
    overflow: inherit;
  }
  .shadow-paper .shadow-paper-scroll.sm-shadow-paper-scroll-remove {
    height: auto;
  }
}
@media only screen and (max-width: 575px) {
  :where(.css-dev-only-do-not-override-18iikkb).ant-form-vertical .ant-form-item-row {
    flex-direction: unset;
  }
}
.form-group .ant-input {
  background: #ffffff;
  border: 1px solid #9b9b9b;
  border-radius: 10px;
  min-height: 45px;
  padding: 5px 10px;
}
.form-group .ant-input-number {
  width: 100%;
  background: #ffffff;
  border: 1px solid #9b9b9b;
  border-radius: 10px;
  height: 45px;
  padding: 5px 10px;
}
.form-group .ant-input-number-input {
  padding-top: 3px;
  height: 28px;
  padding: 0;
}
.form-group .ant-picker {
  background: #ffffff;
  border: 1px solid #9b9b9b;
  border-radius: 10px;
  min-height: 45px;
  padding: 5px 20px;
  width: 100%;
}
.form-group .ant-select-selector {
  min-height: 45px;
}
.form-group .ant-select-multiple .ant-select-selection-item {
  background-color: #e9effd;
  border-radius: 8px;
  color: #1677ff;
  padding: 1px 10px;
  height: 28px;
  display: flex;
  align-items: center;
}
.form-group .ant-select-multiple .ant-select-selection-item .ant-select-selection-item-remove {
  line-height: 10px;
}
.form-group .ant-select-multiple .ant-select-selection-item svg {
  fill: #000000;
}
.form-group .ant-select-multiple .ant-select-arrow {
  border-left: 1px solid #9b9b9b;
  padding-left: 14px;
  height: 15px;
}

.ant-form-item-explain-error {
  text-align: right;
  margin-top: 8px;
}

.ant-tabs-nav-list {
  background-color: #1677ff !important;
  border-radius: 50px;
  padding: 15px 25px;
}

.ant-tabs-nav::before {
  border-bottom: none !important;
}

.ant-tabs-ink-bar {
  display: none;
}

.ant-tabs-tab {
  padding: 0 !important;
  color: #757575 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff !important;
  opacity: 1;
}

.searchGrp .ant-input {
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.85);
}
.searchGrp .ant-input-search .ant-input:hover {
  border-color: transparent;
}
.searchGrp .ant-input-search .ant-input:focus-within {
  border: 1px solid white;
}
.searchGrp .ant-input:focus {
  box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.2);
}
.searchGrp .ant-input-group-addon {
  border-radius: 10px;
}
.searchGrp .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  border-radius: 0 10px 10px 0;
}/*# sourceMappingURL=style.css.map */