// src/scss/variables/_index.scss

@forward 'borders';
@forward 'breakpoints';
@forward 'colors';
@forward 'compat';
@forward 'layout';
@forward 'motion';
@forward 'shadows';
@forward 'spacing';
@forward 'typography';
@forward 'zindex';
